<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/book-solid.svg" type="image/x-icon" />
    <title>Livraria</title>
</head>
<body>
    <header class="cabecalho">
        <nav> 
            <a href="/">Livraria</a>
        </nav>  
    </header>
    <main>

        <a class="botao__voltar" href="/livro-listagem"><i class="fas fa-angle-double-left"></i> Todos os livros</a>    
        <div class="cabecalho__secundario">        
            <h2>Atualizar Livro</h2>
            <span>Utilize o formulário abaixo para atualizar o livro</span>
        </div>

        <form action="" method="POST" class="formulario__atualizar">

            <label class="formulario__label" for="titulo">Título:</label>
            <input type="hidden" name="id" value = "<%= livro._id%>">
            <input class="formulario__input" type="text" name="titulo" value="<%= livro.titulo%>" required>

            <label class="formulario__label" for="autor">Autor:</label>
            <select class="formulario__input" name="autor" value="<%= livro.autor%>" required>
                <% for(var i = 0; i < listaDeAutores.length; i++){%>
                <option value="<%= listaDeAutores[i]._id%>" <%=(listaDeAutores[i]._id.toString() == livro.autor.toString()) ? 'selected' : ''%>><%= listaDeAutores[i].nome%></option>
                <% }%>          
            </select>

            <label class="formulario__label" for="editora">Editora:</label>
            <input class="formulario__input" type="text" name="editora" value="<%= livro.editora%>" required>

            <label class="formulario__label" for="numero-paginas">N° de Páginas</label>
            <input  onkeypress="return verificarNumerico(event)" class="formulario__input" name="numero-paginas" value="<%= livro.numeroPaginas%>">
           
            <fieldset class="formulario__radio">
                <label class="formulario__label" for="status">Status:</label>
                <input type="radio" id="radio-1" name="status"  required value="Ativo" <%=(livro.status == true) ? 'checked' : ''%>>
                <label for="radio-1">Ativo</label>
                <input type="radio" id="radio-2" name="status" value="Inativo" <%=(livro.status == false) ? 'checked' : ''%>>
                <label for="radio-2">Inativo</label>
            </fieldset>            

            <button class="formulario__botao" type="submit">Salvar</button>

        </form>

    </main>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/livro.js"></script>
</body>
</html>